:root {
    --font-family: 'Roboto', sans-serif;
    font-size: calc(14px + 0.390625vw);
    --spacing: 1rem;

    --primary-color: rgba(0,0,0,0);
    --secondary-color: #537FE7;
    --text-color: #181823;


    --background-color: #f8f9fa;
    --dark-primary-color: #181823;
    --dark-secondary-color: #E9F8F9;
    --dark-background-color: #181823;
    --dark-text-color: #E9F8F9;

    --dark-nav-link-color: darkblue;
    --dark-nav-link-hover-color: #C0EEF2;
    --dark-toggle-bg-color: #181823;

    --toggle-bg-checked-color: var(--primary-color);

    --error-color: #9c1079;
    --fatal-error-color: #9c1010;
    --info-color: #107b9c;
    --susess-color: #109c41;
    --worning-color: #9c6b10;

    --decision-color: #75235e;
    --no-decision-color: #3f9f5a;

    --anti-text-clor: #fff;
    --light-acent: #045fab;
    --dark-acent: #011b33;

    --FILL: 0;
    --wght: 200;
    --GRAD: 50;
    --opsz: 24;


    --primary: var(--primary-color);
    --primary-hover:  var(--secondary-color);
    --primary-focus: rgba(var(--secondary-color), 0.25);
    --primary-inverse: var(--text-color);

}


:root[data-theme="light"],
:root:not([data-theme="dark"]) {


    --primary-color: #181823;
    --secondary-color: #E9F8F9;
    --background-color: #f8f9fa;
    --text-color: #000;

    --nav-link-hover-color: #fff;

    --nav-link-color: var(--dark-nav-link-color);


    --toggle-bg-color: var(--background-color);
    --toggle-bg-checked-color: var(--dark-text-color);

    --primary:  var(--primary-color);
    --primary-hover:  var(--secondary-color);
    --primary-focus: rgba(var(--secondary-color), 0.25);
    --primary-inverse: var(--text-color);
}


@media screen and (max-width: 2000px) and (min-width: 1024px) {
    .container {
        max-width: 90%;
    }

    button{
        padding: 0.2rem 0.2rem;
        border-radius: 3px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 767px) {

    button{
        padding: 0.1rem 0.15rem;
        border-radius: 5px;
    }
}
/* Responsive design */
@media screen and (max-width: 767px) and (min-width: 100px) {
    button{
        padding: 0.02rem 0.1rem;
        border-radius: 9px;
    }
}


a, u {
  text-decoration: none;
  color: var(--nav-link-color);
}

a:hover , u:hover  {
    color: var(--nav-link-hover-color);
}


#overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    z-index: 9999;
    transition: width 0.2s, height 0.1s, top 0.1s, left 0.2s;
    border-radius: 25px;

    background: rgba(var(--background-color), 0.3);
    backdrop-filter: blur(8px);
}

#overlay.active {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    /* background-color: var(--background-color); */
    transition: background-color 0.5s ease;
}

body.dark-mode {

    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
    --primary-color: var(--dark-primary-color);

    --primary:  var(--dark-primary-color);
    --primary-hover:  var(--dark-secondary-color);
    --primary-focus: rgba(var(--secondary-color), 0.25);
    --primary-inverse: var(--dark-text-color);

    --secondary-color: var(--dark-secondary-color);


    --nav-link-color: lightblue;
}

/* Dark mode styles
.dark-mode-toggle input:checked + label {
    background-color: var(--dark-primary-color);
}
*/
.dark-mode-toggle {
    position: absolute;
    right: -0.5vw;
    top: 0;
    scale: 1.4;
    margin-bottom: 5px;
    padding: 0.25rem 0;
}


/* Navigation */
@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Keyframe-Animation für das Ausblenden */
@keyframes fadeOutToLeft {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Animation für das Einblenden */
.fade-inH {
    animation: fadeInFromLeft 0.5s ease forwards;
}

/* Animation für das Ausblenden */
.fade-outH {
    animation: fadeOutToLeft 0.5s ease forwards;
}

/* Navigation */
header {
    padding: 0 0.25rem 0 0.5rem;
    animation: fadeInFromLeft 1s ease forwards;
}

nav {
    margin-bottom: 5px;
    padding: 0.5rem 0;
}


nav ul li a {
    color: var(--text-color);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Media Query für Mobilgeräte */
@media only screen and (max-width: 600px) {
    header {
        padding: 0.5rem; /* Padding für Mobilgeräte reduzieren */
    }

    nav ul {
        flex-direction: column; /* Listenelemente in Spalte für Mobilgeräte anordnen */
    }

    nav ul li {
        display: block; /* Listenelemente auf Mobilgeräten als Block anzeigen */
        margin-bottom: 5px; /* Abstand zwischen Listenelementen auf Mobilgeräten hinzufügen */
    }

    ul {
        margin-left: 0; /* Margin für Listen auf Mobilgeräten zurücksetzen */
        margin-right: 0;
    }
}


/* Links */
.NavMain {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.links-form {
    top: 8vh;
    left: 5vw;
    margin: 0;
    padding: 0;
    background-color: var(--background-color); /* Hintergrundfarbe transparent */
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    position: absolute;
    max-width: min-content;
    min-height: fit-content;
    display: flow;
    z-index: 999;
    animation: fadeInFromLeft 0.5s ease;
    text-align: center;
}

.links-form ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links-form li {
    margin-bottom: 10px; /* Abstand zwischen den Links */
}

.links-form a {
    display: block;
    padding: 8px; /* Innenabstand der Links */
    background-color: transparent; /* Hintergrundfarbe transparent */
    text-decoration: none;
    color: var(--text-color);
    transition: background-color 0.3s; /* Übergangseffekt für Hintergrundfarbe */
}

.links-form a:hover {
    background-color: var(--text-color); /* Hintergrundfarbe beim Hover */
    color: var(--background-color);
}


section {
    margin-bottom: 2rem;
}

.container {
    text-align: center;
    padding: 50px;
}

.title {
    font-size: 48px;
    margin-bottom: 10px;
}

.motto {
    font-size: 24px;
    margin-bottom: 30px;
}

/* Form styles */
.form-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    text-align: center;
    padding: 8px;
}

input {
    padding: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 3px;
    border: 2px var(--secondary-color) outset;
}

button {
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px var(--secondary-color) outset;
    max-width: fit-content;
    align-self: center;
}

button:hover {
    background-color: var(--secondary-color);
}

#darkModeToggle {
    display: none;

}

#toggleLabel{
    padding: 0;
}


form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
}

input[type="checkbox"] {
    margin-left: 0;
}



.main-content {
    position: relative;
    margin: 0 auto;
    text-align: center;
    min-width: fit-content;
    padding-bottom: 20px;
    padding-top: 5vh;
    background-color: rgba(255, 255, 255, 0.2); /* semi-transparent white */
    backdrop-filter: blur(10px); /* frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* for Safari */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: max-content;
    max-height: 99vh;
    max-width: 80vw;
    overflow-y: auto;
    overflow-x: clip;
    border-radius: 4px;
}

.Mcontent {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}


/* Scrollbar styles */
.main-content::-webkit-scrollbar {
    width: 6px;
    min-height: max-content;
}

.main-content::-webkit-scrollbar-track {
    border: 2px solid var(--text-color);
}

.main-content::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

.main-content::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}


.frosted-glass {
    left: 0;
    /*min-height: 80vh;*/
    max-height: min-content;
    min-width: min-content;
    max-width: max-content;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    z-index: 1;
    padding: 20px;
}

#threeDScene {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* This will ensure the 3D scene is behind other content */
}


#controls{
    display: contents;
}

.overlay-content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.none {
    display: none;
}

textarea:hover {
    cursor: url(/web/1/init0/tam.png), auto;
}

.markdown {
    text-align: start;
    min-height: max-content;
    font-size: 0.75rem;
    background: var(--background-color);
    padding: 5px;
    max-width: max-content;
}
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown p, .markdown span {
    margin-top: 1px;
    margin-bottom: 1px;
}

.inv-main {
    position: relative;
    margin: 0 auto;
    text-align: center;
    min-width: fit-content;
    padding-bottom: 20px;
    padding-top: 5vh;
    top: 5vh;
}

.inputField {
    border-radius: 16px;
    max-width: min-content;
    min-width: fit-content;
    text-align: center;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' var(--FILL),
        'wght' var(--wght),
        'GRAD' var(--GRAD),
        'opsz' var(--opsz)
}


.card {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    padding: 1rem;
    border-radius: 4px;
    margin: 1rem 0;
}

.card:hover {
    background-color: var(--primary-color);
}

.card-title {
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.card-content {
    color: var(--text-color);
    line-height: 1.6;
}
