.widget {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(var(--background-color), 0.6);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 20px;
    animation: widget-fadeIn 0.5s;
    margin: 15px;
    border: 1px solid var(--text-color);
    resize: both;
    overflow: visible;
}

.widget-from {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--background-color);
    color: var(--text-color);
    z-index: 1;
    border-radius: 5px;
    font-size: 0.7rem;
}

.widget::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

@keyframes widget-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes widget-fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes widget-progressBar {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.widget-content{
    padding: -2px;
    margin: -2px;
}

.widget-content p{
    font-size: 1rem;
}

.widget-close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.widget-action-button {
    position: absolute;
    top: 1px;
    right: 20px;
    cursor: pointer;
}


.widget-resize-handle {
    position: absolute;
    bottom: -5px;
    right: -3px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
}

.widget-resize-handle::after {
    content: "";
    position: absolute;
    background-color: var(--text-color); /* Passt die Farbe entsprechend Ihrem Design an */
}


.widget-resize-handle::after {
    bottom: 10px;
    width: 10px;
    height: 2px;
    transform: rotate(-45deg);
}
