TOOLBOXV2_BASE="localhost"
TOOLBOXV2_BASE_PORT=6587
TOOLBOXV2_REMOTE_BASE="https://simplecore.app"
TOOLBOXV2_REMOTE_BASE_PORT=6587
TOOLBOXV2_REMOTE_IP="139.162.136.35"
APP_BASE_URL="http://localhost:8080"

MOD_PROVIDER="https://simplecore.app"
PYTORCH_CUDA_ALLOC_CONF="expandable_segments:True"
GUI_COMMAND="wt new-tab powershell -NoExit -Command"

ICON_FILE="./favicon.ico"

PYO3_PYTHON=
UV_BASE_ENV=

DB_CONNACTION_URI=
DB_MODE_KEY="RR"
DB_MODE_KEY_TEST="LC"

OPENAI_API_KEY=
HUGGINGFACEHUB_API_TOKEN=

ELEVENLABS_API_KEY=
REPLICATE_API_TOKEN=
ANTHROPIC_API_KEY=
WOLFRAM_ALPHA_APPID=
IFTTTKey=
SERP_API_KEY=
PINECONE_API_KEY=
PINECONE_API_ENV=
DEEPGRAM_API_KEY=
GROQ_API_KEY=
OPENROUTER_API_KEY=

GOOGLE_API_KEY=
GOOGLE_CSE_ID=

DISCORD_BOT_TOKEN=

BING_SUBSCRIPTION_KEY=
BING_SEARCH_URL=

GMAIL_PASSWORD=
GMAIL_EMAIL=
EMAIL_BG_LIGHT_URL="/web/assets/backgrounds/dark-bg.png"
EMAIL_BG_DARK_URL="/web/assets/backgrounds/dark-bg.png"
EMAIL_LOGO_URL="/web/icons/icon.png"
GOOGLE_CREDENTIALS_FILE=

OMP_NUM_THREADS=1
NUMEXPR_MAX_THREADS=8
CUDA_LAUNCH_BLOCKING=1

HF_HOME="./.data/huggingface"
HUGGINGFACE_HUB_VERBOSITY="info"
TB_R_KEY="root@remote"

VAULTS =
HOSTNAME="localhost"

TOKEN_SECRET="012345678900000987654321asdfghjkl"

WHATSAPP_PHONE_NUMBER_ID=
RECIPIENT_PHONE =
WHATSAPP_API_TOKEN=
WHATSAPP_VERIFY_TOKEN=

DEFAULTMODEL0="gpt-3.5-turbo-0613"
DEFAULTMODEL1="gpt-3.5-turbo-0613"
DEFAULTMODEL2="text-davinci-003"
DEFAULTMODELCODE="code-davinci-edit-001"
DEFAULTMODELSUMMERY="text-curie-001"
DEFAULTMODELEMBEDDING="gemini/text-embedding-004"
FALLBACKS_MODELS=
DEV_MODULES="welcome CloudM"
LOCAL_DOCKER_IMAGE=
GITHUB_TOKEN=
GITHUB_TOKEN_GIST=
EXTERNAL_PATH_RUNNABELS=

DEEPSEEK_API_KEY=
GEMINI_API_KEY=

NWV2 = # https://newsapi.org/v2
LITELLM_LOG="NOTSET"

STRIPE_SECRET_KEY=
STRIPE_SECRET_KEY_=

TAURI_SIGNING_PUBLIC_KEY=
TAURI_SIGNING_PRIVATE_KEY=
TAURI_SIGNING_PRIVATE_KEY_PASSWORD=


TF_ENABLE_ONEDNN_OPTS=0
ANONYMIZED_TELEMETRY="false"
