# ToolBoxV2 Installer Configuration
# Lines starting with # or empty lines are ignored.
# No spaces around =

TB_VERSION=0.1.23
INSTALL_SOURCE=git
PKG_MANAGER=pip
PYTHON_VERSION_TARGET=3.11
ISAA_EXTRA=true
DEV_EXTRA=false

# TB_VERSION
# INSTALL_SOURCE
# PKG_MANAGER
# PYTHON_VERSION_TARGET
# ISAA_EXTRA
# DEV_EXTRA
# AUTO_INSTALL_DEPS
# INSTALL_DIR_BASE_LINUX_MAC
# INSTALL_DIR_BASE_WINDOWS
# TB_APP_NAME
# BIN_DIR_LINUX_MAC
# BIN_DIR_WINDOWS
