langchain-experimental
PyAudio
Pebble
transformers
litellm

gpt4all
SpeechRecognition
chromadb
pydub
duckduckgo-search
langchain-groq
beautifulsoup4
langchain-huggingface
langchain

langchain-chroma
langchain-ollama
