aiohttp~=3.10.10
cachetools==5.3.3
cryptography==42.0.8
packaging==24.1
pydantic==2.7.4
PyJWT==2.8.0
python-dotenv==1.0.1
PyYAML==6.0.1
reedsolo==1.7.0
schedule==1.2.2
tqdm==4.66.4
ipython~=8.27.0
qrcode==7.4.2
Requests==2.32.3
Faker==25.0.1

toolboxv2~=0.1.20
setuptools~=75.1.0
numpy~=1.26.4
pillow~=11.0.0
beautifulsoup4~=4.12.3
pyaudio~=0.2.14
scipy~=1.14.1
pydub~=0.25.1
speechrecognition~=3.10.4
redis~=5.0.6
langchain-core~=0.3.18
langchain-community~=0.3.1
litellm~=1.48.2
gpt4all~=2.8.2
langchain~=0.3.1
langchain-experimental~=0.3.1.post1
langchain-text-splitters~=0.3.0
duckduckgo-search~=6.2.13
pebble~=5.0.7
networkx~=3.4.1
tiktoken~=0.7.0
chromadb~=0.5.9
scikit-learn~=1.5.2
transformers~=4.45.0
yaml~=0.2.5
httpx~=0.27.2
openai~=1.48.0
torchaudio~=2.4.1
fastapi~=0.111.0
webauthn~=2.1.0
starlette~=0.37.2
websockets~=13.1
prompt-toolkit~=3.0.47
protobuf~=4.25.5
mailjet-rest~=1.3.4
rich~=13.8.1
psutil~=6.1.0
pystray~=0.19.5
