aiohttp
cachetools
cryptography
fastapi
python-dotenv
fuzzywuzzy~=0.18.0
ipython
networkx~=3.3
numpy~=1.23.5
packaging~=23.2
PyYAML
qrcode
radon
reedsolo
Requests~=2.32.3
scikit_learn
scipy
tqdm
transformers~=4.47.0
watchfiles
PyJWT
webauthn

toolboxv2~=0.1.20
setuptools~=75.6.0
torch~=2.3.1
pillow~=11.0.0
librosa~=0.9.2
scikit-learn~=1.5.0
litellm~=1.40.7
gpt4all~=2.7.0
langchain-community~=0.3.10
pydantic~=2.10.3
sentence-transformers~=3.0.1
tiktoken~=0.7.0
pebble~=5.0.7
langchain-core~=0.3.29
rapidfuzz~=3.10.1
tenacity~=8.5.0
langchain-experimental~=0.3.3
utils~=1.0.2
astor~=0.8.1
nltk~=3.9.1
inquirer~=3.2.4
beautifulsoup4~=4.12.3
psutil~=6.1.0
python-dateutil~=2.9.0.post0
protobuf~=5.29.1
urllib3~=2.2.3
readchar~=4.2.1
customtkinter~=5.2.2
