body p {
    color: var(--text-color);
}
body h2 {
    color: var(--text-color);
}
body h3 {
    color: var(--text-color);
}
body h4 {
    color: var(--text-color);
}

.wrapper{
    box-sizing: content-box;
    background-color: var(--background-color);
    height: min-content;
    display: contents;
    text-align: center;
}

@media (max-width: 480px) {
    .wrapper{
        box-sizing: content-box;
        background-color: var(--background-color);
        height: min-content;
        display: contents;
        text-align: center;
    }
}
.words {
    overflow: hidden;
}


.wrapper span{
    display: block;
    height: 100%;
    padding-left: 10px;
    animation: spin_words 10s infinite;
}


.wrapper div{
    width: 100%;
    text-align: center;
}

.wrapper .words{
    height: 13.5vh;
}

.Apps {
    text-align: center;
    height: 50vh;
    transition: 1s background 0.5s ease-in, 2s color 1s ease-out;
    margin: auto;
    width: 75%;
    display: contents;
    animation-name: fade_in_animation;
    animation-duration: 0.75s;
}

@keyframes spin_words {
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-406%);
    }
}

.fade-aut{
  animation-name: fade_out_animation;
  animation-duration: 2s;
  animation-delay: 1s;
}

.fade-in{
  animation-name: fade_in_animation;
  animation-duration: 2s;
  animation-delay: 4s;

}

.fade-aut-speed{
    animation-name: fade_out_animation;
    animation-duration: 0.75s;
}

.app-box > a {
    padding: 12px;
    border: 2px solid;
    border-radius: 12px;
    display: list-item;
    text-decoration: none;
    font-size: larger;
}

@keyframes fade_in_animation{
    0%{
        color: var(--dark-text-color);
        scale: 2;
    }
    100%{
        color: var(--text-color);
        scale: 1;
        display: block;
    }
}

@keyframes fade_out_animation{
    0%{
        color: var(--text-color);
        scale: 1;
    }
    100%{
        color: var(--dark-text-color);
        scale: 4;
    }
}


/* Stil für den Hauptcontainer */
.stylesheet {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
#main-idea {
    margin: 5%;
}


/* Stil für den Footer */
footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 0.8em;
}


#installer-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    z-index: 99;
    min-height: fit-content;
}

#download-options p {
    margin: 10px 0;
}


.roadmap-container {
    max-width: 600px;
    margin: 0 auto;
}

.roadmap {
    position: relative;
    border-left: 2px solid #333;
    padding-left: 20px;
}

.roadmap-item {
    margin-bottom: 20px;
}


.roadmap-marker {
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    left: -6px; /* Halbe Breite des Markers */
    top: 0;
}

.roadmap-content {
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
