transformers
utils
gpt4all
tqdm
fastapi
win32con
langchain_groq
pydantic
keyboard
tiktoken
langchain_community
inquirer
win32gui
torchaudio
decord
websockets
scipy
bs4
networkx
langchain_ollama
spacy
sounddevice
fuzzywuzzy
pebble
starlette
pyautogui
speechbrain
matplotlib
langchain_text_splitters
requests
torchvision
win32api
webrtcvad
soundfile
git
langchain_experimental
aiohttp
pyaudio
torch
sklearn
PIL
langchain_anthropic
clients
psutil
httpx
nltk
librosa
crawl4ai
astor
gymnasium
yaml
numpy
langchain_core
litellm