
.circle-dropdown {
    position: relative;
    width: min-content;
    height: fit-content;
    display: inline-flex;
    scale: 2;
    left: 2.3vw;
    top: 2vh;
}


.plus {
    color: var(--text-primary);
    font-size: 24px;
    font-weight: bold;
    scale: 2;
}

.dropdown-menu {
    text-align: center;
    z-index: 10;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60px;
    display: none;
}

.dropdown-item {
    background-color: var(--background-color);
    padding: 3px 14px;
    min-width: fit-content;
    margin-bottom: 0.1vh;
    border: 1px var(--secondary-color) solid;
    cursor: pointer;
    transition: scale 0.15s ease-in;
}

.dropdown-item:hover {
    border: 1px var(--text-primary) dashed;
    scale: 1.08;
}


.controls1 {
    display: flex;
    scale: 0.75;
}

